<div class="main-container">
  <div class="input-container">
    <input type="number" placeholder="Enter your taxable salary per month" (change)="salaryChanged($event)">
    <button (click)="calculate()">Calculate</button>
  </div>
  <div class="output-conatiner">
    <span>Personal taxes to be deducted: {{personalTaxes | number}} LKR</span>
    <span>Salary after deducting above taxes: {{salaryWithoutPersonalTaxes | number}} LKR</span>
    <span>Salary after EPF/EFT deduction: {{salaryAfterEpfDeduction | number}} LKR</span>
  </div>
</div>